@import 'mixins';
@import 'variables';
.wrapper {
    max-width: 93.75rem;
    color: #fff;
    overflow: hidden;
    @include flexStandard;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}

.main-header {
    position: absolute;
    @include flexStandard;
    top: 0;
    left: 0;
    .container {
        position: relative;
        max-width: 75rem;
        width: 100%;
        .logo {
            font-size: 2rem;
            padding: 1rem;
            font-weight: 700;
            @media(min-width: $large) {
                padding: 2.5rem 1rem;
            }
        }
        .burger {
            position: absolute;
            top: 1rem;
            right: 1rem;
            transition: all .1s ease-in;
            &:hover {
                cursor: pointer;
                color: #fcac45;
            }
            @media (min-width: $large) {
                display: none;
            }
        }
        .navi {
            position: absolute;
            top: 0;
            left: 0;
            @include flexStandard;
            background: #222;
            z-index: 2;
            display: none;
            .menu {
                position: relative;
                @include flexStandard;
                flex-direction: column;
                padding-top: 2rem;
                color: #d5d5d5;
                &__item {
                    width: 100%;
                    text-align: center;
                    font-size: 2rem;
                    line-height: 3rem;
                    margin: .5rem 0;
                    transition: all .2s ease-in;
                    a {
                        flex-grow: 1;
                        color: #DDD2D2;
                        text-decoration: none;
                    }
                    &:hover a {
                        color: #fcac45;
                        transition: all .2s ease-in;
                    }
                    @media (min-width: $large) {
                        font-size: 0.9rem;
                        width: auto;
                        margin: 0 .9rem;
                    }
                }
                .close {
                    position: absolute;
                    top: .5rem;
                    right: .5rem;
                    transition: all .2s ease-in;
                    &:hover {
                        cursor: pointer;
                        color: #fcac45;
                        transition: all .2s ease-in;
                    }
                }
                @media (min-width: $large) {
                    flex-direction: row;
                    width: 37.5rem;
                    position: absolute;
                    top: 0;
                    right: 0;
                    .close {
                        display: none;
                    }
                }
            }
            @media(min-width: $large) {
                display: block!important; // no idea how to fix it
            }
        }
    }
}

.main-content {
    @include flexStandard;
    flex-direction: column;
    .banner {
        width: 100%;
        min-height: 100vh;
        max-height: 59.375rem;
        background-color: #000;
        .container {
            width: 95%;
            .titles {
                text-align: center;
                margin: 13rem auto 2rem;
                &__main {
                    font-size: 3rem;
                    color: #999;
                    span {
                        color: #fcac45;
                        font-weight: 700;
                    }
                }
                &__submain {
                    padding: 1rem 0;
                    color: #d5d5d5;
                    span {
                        font-weight: 700;
                    }
                }
            }
            .banner__btn {
                position: absolute;
                bottom: 10%;
                left: 47.5%;
                border: 1px solid #fff;
                border-radius: 100%;
                height: 3rem;
                width: 3rem;
                background: none;
                color: #fff;
                outline: none;
                transition: all .2s ease-in;
                overflow: hidden;
                margin: 0 auto;
                &:hover {
                    @include hoverBtn;
                }
                .fa {
                    font-size: 2rem;
                    animation: btnAnime 1.5s infinite;
                }
                @keyframes btnAnime {
                    0% {
                        transform: translateY(-2rem)
                    }
                    50% {
                        transform: translateY()
                    }
                    100% {
                        transform: translateY(2.5rem)
                    }
                }
            }
        }
    }
    .about {
        @include flexStandard;
        padding: 6.25rem 0;
        .container {
            @include containerStyle;
            flex-direction: column;
            @media (min-width: $medium) {
                flex-direction: row;
            }
        }
        &__photo {
            width: 100%;
            max-width: 42.5rem;
            max-height: 27.5rem;
            overflow: hidden;
            img {
                width: 100%;
                padding-left: 2rem;
            }
            @media (min-width: $medium) {
                width: 50%;
            }
        }
        .about-des {
            width: 100%;
            display: flex;
            flex-direction: column;
            color: #636363;
            margin-top: 3rem;
            &__subtitle {
                font-size: 1.25rem;
                margin-bottom: 1.25rem;
            }
            &__title {
                font-size: 2rem;
                color: #222;
                span {
                    font-weight: 700;
                }
                &::after {
                    content: '';
                    height: .3rem;
                    background-color: #fcac45;
                    width: 6.25rem;
                    display: block;
                    margin: 1.25rem 0 2rem;
                }
            }
            &__para {
                font-size: 1.1rem;
                line-height: 1.6rem;
            }
            .list {
                margin: 2rem 0 1.8rem;
                &__item {
                    margin: 0.625rem auto;
                    color: #858585;
                    font-style: italic;
                    line-height: 1.6rem;
                    span {
                        color: #5a5a5a;
                        font-weight: 700;
                        font-style: normal;
                        &::before {
                            content: url('../images/markup.jpg');
                            display: inline-block;
                            margin-right: .8rem;
                        }
                    }
                }
            }
            .about__btn {
                height: 1.8rem;
                width: 12rem;
                border: 1px solid #7f7f7f;
                border-radius: .2rem;
                outline: none;
                transition: all .2s ease-in;
                color: #7f7f7f;
                font-size: .7rem;
                margin: 0 auto;
                &:hover {
                    @include hoverBtn;
                    transform: scale(1.05);
                }
            }
            @media (min-width: $medium) {
                width: 50%;
                margin-top: 0;
                max-width: 26.125rem;
            }
        }
    }
    .team {
        @include flexStandard;
        background-color: #000;
        padding: 6.25rem 0;
        .container {
            width: 95%;
            display: flex;
            flex-direction: column;
            .title {
                @include sectionTitle;
            }
            .team-box {
                @include flexStandard;
                flex-direction: column;
                animation: fade 3s forwards;
                .team-card {
                    width: 100%;
                    height: 23rem;
                    text-align: center;
                    margin: 1rem auto;
                    &__photo {
                        width: 100%;
                        padding: 2rem 0 1.5rem;
                        img {
                            width: 10rem;
                            height: 10rem;
                            border-radius: 100%;
                        }
                    }
                    &__name {
                        font-size: 1.25rem;
                        font-weight: 700;
                        line-height: 1.8rem;
                        margin-bottom: .3rem;
                    }
                    &__description {
                        font-size: 0.9rem;
                        padding: 1rem 0.5rem;
                        line-height: 1.4rem;
                    }
                    @media (min-width: $medium) {
                        width: 48%;
                        margin: .5%;
                    }
                    @media (min-width: $large) {
                        width: 24%;
                    }
                }
                @keyframes fade {
                    from {
                        opacity: 0.2;
                    }
                    to {
                        opacity: 1;
                    }
                }
                @media (min-width: $medium) {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
            .dots {
                width: 100%;
                display: flex;
                margin: 0 auto;
                @include dotsBox;
                &__item {
                    @include dotItem;
                    &--active {
                        background: #fcac45;
                    }
                }
            }
        }
        @media (min-width: $large) {
            height: 45.9rem;
            padding: 0;
        }
    }
    .services {
        @include flexStandard;
        padding: 6.25rem 0;
        .container {
            display: flex;
            width: 95%;
            flex-direction: column;
            color: #000;
            .title {
                @include sectionTitle;
                margin: 0;
                span {
                    font-weight: 700;
                }
            }
            .description {
                margin: .625rem 0;
                text-align: center;
                line-height: 1.5rem;
            }
            .services-box {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                @media (min-width: $medium) {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
            .services-item {
                margin: 1rem auto;
                width: 100%;
                flex-direction: column;
                text-align: center;
                &__photo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: .3rem solid #fcac45;
                    border-radius: 100%;
                    width: 7rem;
                    height: 7rem;
                    margin: 1.75rem auto;
                    img {
                        padding: 1.7rem;
                    }
                }
                &__title {
                    font-size: 1.55rem;
                    font-weight: 700;
                    margin: 0 auto;
                }
                &__description {
                    font-size: 0.875rem;
                    line-height: 1.3rem;
                    text-align: center;
                    margin-top: 1.375rem;
                }
                @media (min-width: $medium) {
                    width: 50%;
                }
                @media (min-width: $large) {
                    width: 23%;
                    margin: 1%;
                    max-width: 15.5rem;
                }
            }
        }
        @media (min-width: $large) {
            height: 45.9rem;
            padding: 0;
        }
    }
    .clients {
        @include flexStandard;
        background: #0b0b0b;
        padding: 6.25rem 0;
        .container {
            width: 95%;
            display: flex;
            flex-direction: column;
            .title {
                @include sectionTitle;
                span {
                    font-weight: 700;
                }
            }
            .clients-container {
                flex-direction: column;
                margin-top: 2rem;
                .client-box {
                    width: 100%;
                    display: flex;
                    margin: 1rem auto;
                    padding: 1rem 0;
                    &__photo {
                        @include flexStandard;
                        img {
                            padding: 1rem;
                        }
                    }
                    @media (min-width: $medium) {
                        width: 33%;
                    }
                    @media (min-width: $large) {
                        width: 11rem;
                    }
                }
                @media (min-width: $medium) {
                    flex-wrap: wrap;
                    flex-direction: row;
                }
            }
            @keyframes yes {
                from {
                    opacity: 0.2;
                }
                to {
                    opacity: 1;
                }
            }
            .dots {
                width: 100%;
                display: flex;
                margin: 0 auto;
                @include dotsBox;
                &__item {
                    @include dotItem;
                    &--active {
                        background: #fcac45;
                    }
                }
            }
            @media (min-width: $medium) {
                width: 70%;
            }
        }
        @media (min-width: $large) {
            height: 32.5rem;
            padding: 0;
        }
    }
}